<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo base Vue Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <!--Hay que trabajar dentro del app, ya que es el scope para manejar todo lo de vue js-->
    <div id="app" v-bind:style=" { background: '#'+color }">
        <img  
        v-on:mouseover="toogleShowPrices"
        v-on:mouseout="toogleShowPrices"
        v-bind:src="img" v-bind:alt="name" >

        <h1 v-bind:class="changePercent < 0 ? 'green' : 'red'" > 
            {{ title }}
            <span v-if="changePercent > 0">👍 </span>
            <span v-else-if="changePercent < 0">👎 </span>
            <span v-else>🤞</span>            
            <span v-on:click="toogleShowPrices"> {{ showPrices ? '🙉  ' : '🙈 '}} </span>
        </h1>
        
        <input type="text" v-model="value">
        <span> {{ convertedValue }} </span>

        <!--
        <ul>
            <li v-for="p in prices" v-bind:key="p">{{ p }}</li>
            <li v-for="(p,i) in prices" v-bind:key="p">{{ i }} - {{ p }}</li>
        </ul>
        -->        
        
        <ul v-show= showPrices>
            <li 

                v-bind:class="{orange: p.value === price, red: p.value < price, green: p.value}"
                v-for="(p,i) in pricesWithDays" 
                v-bind:key="p.day">
                {{ i }} - {{ p.day }}- {{ p.value }}
            </li>
        </ul>
        
    </div>
   

    <script src="app.js"></script>
</body>


</html>